{% extends 'base.html.twig' %}

{% block title %}Sensor index{% endblock %}

{% block content %}
    <h1>Sensor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DevEUI</th>
                <th>Type</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sensor in sensors %}
            <tr>
                <td>{{ sensor.id }}</td>
                <td>{{ sensor.name }}</td>
                <td>{{ sensor.devEUI }}</td>
                <td>{{ sensor.type }}</td>
                <td>{{ sensor.latitude }}</td>
                <td>{{ sensor.longitude }}</td>
                <td>
                    <a href="{{ path('sensor_show', {'id': sensor.id}) }}">show</a>
                    <a href="{{ path('sensor_edit', {'id': sensor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sensor_new') }}">Create new</a>
{% endblock %}
