<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}

            <header>
            {% block header %}
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <span class="navbar-brand">Sensor API</span>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url('app_logout') }}">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            {% endblock %}
            </header>

            <main>
            {% block content %}{% endblock %}
            </main>

            <footer>
                {% block footer %}{% endblock %}
            </footer>

        {% endblock %}
    </body>
</html>
